html {
    height: 100%;
    background-image: linear-gradient(to bottom, #B5E5CF, #3D5B59);
}

.container {
    display: grid;
    grid-template-columns: 100%;
    /* background-color: #3D5B59; */
    text-align: center;
}

.header {
    color: #3D5B59;
}

.todo {
    margin-left: 25em;
    margin-right: 25em;
}

.history {
    margin-left: 25em;
    margin-right: 25em;
}

.checkbox {
    border-style: none;
    border-radius: 5px;
}

.button {
    text-align: start;
}

#historyCheck {
    justify-content: right;
}

.ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 100%;
    background-color: #B5E5CF;
    text-align: start;
    padding-left: 0em;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #FCB5AC, #B99095);
    
}

.li {
    border-style: solid;
    margin: 0.5em 0.5em 0.5em 0.5em;
    text-align: left;
}

.historyEntry {
    display: grid;
    grid-template-columns: 100%;
    background-color: #B5E5CF;
    text-align: start;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 1em;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #FCB5AC, #B99095);
}

.removed {
    transition: opacity 1.2s;
    opacity: 0;
}
